.text-field {
    -fx-border-color: black;
    -fx-border-width: 3px ;
}

.button {
    -fx-stroke: black;
    -fx-stroke-width: 3px;
    -fx-text-fill: white;
}

.root{
    -fx-background-image: url("background.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}