.text-field {
}

.button {
    -fx-stroke: black;
    -fx-stroke-width: 3px;
    -fx-text-fill: #dfd2d2;
}

.button:pressed, .toggle-button:selected {
    -fx-text-fill: black;
}

.root{
    -fx-background-image: url("background.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}