.text-field {
}

.button {
    -fx-text-fill: #dfd2d2;
}

.button:pressed, .toggle-button:selected {
    -fx-text-fill: #202d2d;
}

.root{
    -fx-background-image: url("background.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}



